.ts-task-edit
  .row.departure-date
    .col-md-12
      .input-group
        input.form-control(
          type="text"
          datepicker-popup="dd.MM.yyyy"
          min-date="minDate"
          ng-model="departure_date"
          is-open="opened"
          ng-required="true"
          close-text="Close"
          placeholder="* Departure date (mandatory)"
          ng-focus="toggleDatepicker($event)"
        )
        span.input-group-btn
          button.btn.btn-default(
            type="button"
            ng-click="toggleDatepicker($event)"
          )
            i.glyphicon.glyphicon-calendar
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="departure_point"
        placeholder="* Departure station (mandatory)"
        typeahead="c.name as c.full_name for c in getStation({station: $viewValue})"
        typeahead-wait-ms="500"
        typeahead-loading="loadingDepartureStations"
        typeahead-editable="false"
        ng-disabled="!departure_date"
      )
      .ts-field-loading(ng-show="loadingDepartureStations")
        span.ts-glyphicon.glyphicon.glyphicon-refresh
        | Loading...
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="destination_point"
        placeholder="* Destination station (mandatory)"
        typeahead="c.name as c.full_name for c in getStation({station: $viewValue})"
        typeahead-wait-ms="500"
        typeahead-loading="loadingDestinationStations"
        typeahead-editable="false"
        ng-disabled="!departure_date"
      )
      .ts-field-loading(ng-show="loadingDestinationStations")
        span.ts-glyphicon.glyphicon.glyphicon-refresh
        | Loading...
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="train"
        placeholder="Any train"
        typeahead-wait-ms="500"
        typeahead="t.code as t.full_name for t in internalGetTrains($viewValue)"
        typeahead-loading="loadingTrains"
        typeahead-editable="false"
        ng-disabled="!departure_date || !departure_point || !destination_point"
      )
      .ts-field-loading(ng-show="loadingTrains")
        span.ts-glyphicon.glyphicon.glyphicon-refresh
        | Loading...
  .row.ts-bottom-margin
    .col-md-12
      select.form-control(
        ng-disabled="!departure_date || !departure_point || !destination_point"
        ng-model="car"
      )
        option(value="ANY") Any type of car
        option(value="VIP") VIP car
        option(value="SLE") Sleeping car
        option(value="COM") Compartment car
        option(value="RB") Reserved-berths car
        option(value="RS") Car with regular seats
        option(value="TC") Third-class car
  .row.ts-bottom-margin
    .col-md-12
      select.form-control(
        ng-disabled="!departure_date || !departure_point || !destination_point"
        ng-model="seat"
      )
        option(value="ANY") Any type of seat
        option(value="B") Bottom place
        option(value="T") Top place
        option(value="BS") Bottom place by side
        option(value="TS") Top place by side
  .row.ts-top-margin
    .col-md-6
      .text-center
        button.btn.btn-default(ng-click="cancelEditing()") Cancel
    .col-md-6
      .text-center
        button.btn.btn-primary(
          ng-disabled="!departure_date || !departure_point || !destination_point"
          ng-click="saveEditing()"
        ) Save
