.ts-task-edit
  .row.departure-date
    .col-md-12
      .input-group
        input.form-control(
          type="text"
          datepicker-popup="dd.MM.yyyy"
          datepicker-options="dateOptions"
          min-date="minDate"
          ng-model="dt" 
          is-open="opened"
          ng-required="true"
          close-text="Close"
          placeholder="* Departure date (mandatory)"
          ng-focus="toggleDatepicker($event)"
        )
        span.input-group-btn
          button.btn.btn-default(
            type="button"
            ng-click="toggleDatepicker($event)"
          )
            i.glyphicon.glyphicon-calendar
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="departure"
        placeholder="* Departure city (mandatory)"
        typeahead="t for t in cities | filter:$viewValue"
        ng-disabled="!dt"
      )
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="destination"
        placeholder="* Destination city (mandatory)"
        typeahead="t for t in cities | filter:$viewValue"
        ng-disabled="!dt"
      )
  .row.ts-bottom-margin
    .col-md-12
      input.form-control(
        type="text" 
        ng-model="train"
        placeholder="Any train"
        typeahead="t as t for t in trains | filter:$viewValue"
        ng-disabled="!dt || !departure || !destination"
      )
  .row.ts-bottom-margin
    .col-md-12
      select.form-control(ng-disabled="!dt || !departure || !destination")
        option Any type of car
        option VIP car
        option Sleeping car
        option Compartment car
        option Reserved-berths car
        option Car with regular seats
        option Third-class car
  .row.ts-bottom-margin
    .col-md-12
      select.form-control(ng-disabled="!dt || !departure || !destination")
        option Any type of seat
        option Bottom place
        option Top place
        option Bottom place by side
        option Top place by side
  .row.ts-top-margin
    .col-md-6
      .text-center
        button.btn.btn-default(ng-click="cancelEditing()") Cancel
    .col-md-6
      .text-center
        button.btn.btn-primary(
          ng-disabled="!dt || !departure || !destination"
          ng-click="saveEditing()"
        ) Save
