.modal-header
  h3.modal-title {{ header }}
.modal-body
  .rw-text {{ text }}
  .rw-password 
    form(name="passwordForm", novalidate)
      .form-group(
        ng-class="{'has-error': passwordForm.password.$invalid}"
      )
        label.control-label(for="password") Current password
        input.form-control(
          type="password"
          id="password"
          name="password"
          ng-model="passwordModel"
          required
        )
        .help-block(
          ng-messages="passwordForm.password.$error"
          role="alert"
        )
          div(ng-message="required") Please enter the current password.
.modal-footer
  button.btn.btn-primary(
    type="button"
    ng-click="$close(passwordModel)"
    ng-disabled="passwordForm.$invalid"
  ) Yes
  button.btn.btn-warning(
    type="button"
    ng-click="$dismiss('')"
  ) No
