doctype html
html(class="no-js", ng-app="trackSeatsApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Track seats
    meta(name='description', content='Train tickets tracker')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type="text/javascript", src="components/angular/angular.js")
    link(
      rel="stylesheet"
      href="components/bootstrap/dist/css/bootstrap.min.css"
    )
    link(
      rel="stylesheet"
      href="components/bootstrap/dist/css/bootstrap-theme.min.css"
    )
    link(
      rel="stylesheet"
      href="components/angular-loading-bar/src/loading-bar.css"
    )
    link(rel="stylesheet", href="app.css")
  body
    nav(class="navbar navbar-default", ng-controller="LayoutNavigationCtrl as nav")
      .container-fluid
        .navbar-header
          button(type="button"
                 class="navbar-toggle collapsed"
                 ng-click="nav.toggleNavCollapsed()")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          a(class="navbar-brand", href="#") TrackSeats (Beta)
        div(
          collapse="nav.navCollapsed"
          class="collapse navbar-collapse"
          ng-cloak
        )
          ul(class="nav navbar-nav navbar-right"
             ng-show="nav.session.authenticated == true")
            li(class="dropdown", dropdown, on-toggle="toggled(open)")
              a(href="#"
                class="dropdown-toggle"
                role="button"
                dropdown-toggle)
                  span(
                    class="glyphicon glyphicon-user"
                    aria-hidden="true")
                  | {{ nav.session.user.email }}
                  span.caret
              ul(class="dropdown-menu", role="menu")
                li
                  a
                    span(class="glyphicon glyphicon-cog", aria-hidden="true")
                    | Settings
                li
                  a
                    span(class="glyphicon glyphicon-send", aria-hidden="true")
                    | Invite friend
                li
                  a(ng-click="nav.signOut()")
                    span(class="glyphicon glyphicon-log-out", aria-hidden="true")
                    | Logout
          form(class="navbar-form navbar-right"
               ng-show="nav.session.authenticated == false"
               ng-submit="nav.signIn()")
            .input-group
              span(class="input-group-addon", id="email-addon") @
              input(
                required
                type="text"
                ng-model="nav.email"
                class="form-control"
                placeholder="Email"
                aria-describedby="email-addon"
              )
            .input-group
              span(class="input-group-addon", id="password-addon")
                span(class="glyphicon glyphicon-asterisk", aria-hidden="true")
              input(
                required
                type="password"
                ng-model="nav.password"
                class="form-control"
                placeholder="Password"
                aria-describedby="password-addon"
              )
            button(type="submit"
                   class="btn btn-default") Sign in
    div(
      ng-show="alertsCtrl.alerts.messages"
      ng-controller="LayoutAlertsCtrl as alertsCtrl"
    )
      alert(
        ng-repeat="alert in alertsCtrl.alerts.messages"
        type="{{alert.type}}"
        close="alertsCtrl.closeAlert($index)"
      )
        {{ alert.msg }}
    section(ui-view)
      h3.text-center Loading...

    script(type="text/javascript", src="components/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript", src="components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="components/angular-loading-bar/src/loading-bar.js")
    script(type="text/javascript", src="app.js")
