doctype html
html(class="no-js", ng-app="trackSeatsApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Track seats
    meta(name='description', content='Train tickets tracker')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js")
    link(
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
    )
    link(
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css"
    )
    link(
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css"
    )
    // build:css app.min.css
    link(rel="stylesheet", href="app.css")
    // endbuild
  body
    nav.navbar.navbar-default(ng-controller="LayoutNavigationCtrl as nav")
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(
            type="button"
            ng-click="nav.toggleNavCollapsed()"
          )
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          a.navbar-brand(ui-sref="tasks") TrackSeats (Beta)
        div.collapse.navbar-collapse(
          collapse="nav.navCollapsed"
          ng-cloak
        )
          ul.nav.navbar-nav(
            ng-show="nav.session.authenticated == true"
          )
            li(ng-class="{'active': nav.isStateActive('tasks')}")
              a(ui-sref="tasks") Tasks
                span.sr-only(ng-if="nav.isStateActive('tasks')") (current)
          ul.nav.navbar-nav.navbar-right(
            ng-show="nav.session.authenticated == true"
          )
            li(class="dropdown", dropdown, on-toggle="toggled(open)")
              a.dropdown-toggle(href="#"
                role="button"
                dropdown-toggle)
                  span.glyphicon.glyphicon-user.ts-glyphicon(
                    aria-hidden="true")
                  | {{ nav.session.user.email }}
                  span.caret
              ul.dropdown-menu(role="menu")
                li
                  a(ui-sref="settings")
                    span.glyphicon.glyphicon-cog.ts-glyphicon(
                      aria-hidden="true"
                    )
                    | Settings
                li
                  a(ui-sref="settings({'#': 'inviteFriendAnchor'})")
                    span.glyphicon.glyphicon-send.ts-glyphicon(
                      aria-hidden="true"
                    )
                    | Invite friend
                li
                  a(ng-click="nav.signOut()")
                    span.glyphicon.glyphicon-log-out.ts-glyphicon(
                      aria-hidden="true"
                    )
                    | Logout
          form.navbar-form.navbar-right(
            ng-show="nav.session.authenticated == false"
            ng-submit="nav.signIn()"
          )
            .input-group
              span.input-group-addon(id="email-addon") @
              input.form-control(
                required
                type="text"
                ng-model="nav.email"
                placeholder="Email"
                aria-describedby="email-addon"
              )
            .input-group
              span.input-group-addon(id="password-addon")
                span.glyphicon.glyphicon-asterisk( aria-hidden="true")
              input.form-control(
                required
                type="password"
                ng-model="nav.password"
                placeholder="Password"
                aria-describedby="password-addon"
              )
            button.btn.btn-default(type="submit") Sign in
    div.container-fluid(
      id="alertMessages"
      ng-show="alertsCtrl.alerts.messages"
      ng-controller="LayoutAlertsCtrl as alertsCtrl"
    )
      alert(
        ng-repeat="alert in alertsCtrl.alerts.messages"
        type="{{alert.type}}"
        close="alertsCtrl.closeAlert($index)"
      )
        span.glyphicon.glyphicon-exclamation-sign.ts-glyphicon(
          aria-hidden="true"
          ng-show="alert.type=='danger'"
        )
        span.sr-only(ng-show="alert.type=='danger'") Error:

        span.glyphicon.glyphicon-ok-sign.ts-glyphicon(
          aria-hidden="true"
          ng-show="alert.type=='success'"
        )
        span.sr-only(ng-show="alert.type=='success'") Information:

        | {{ alert.msg }}
    section.container-fluid(ui-view)
      h3.text-center Loading...
    footer.ts-footer © 2015 TrackSeats.info

    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-messages.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js")
    // build:js app.min.js
    script(type="text/javascript", src="app.js")
    // endbuild
